[*.cs]

# CS0006: Metadata file 'C:\Users\stefa\Desktop\ProiectColocviu\ProiectColocviu\ProiectColocviu\bin\Debug\netstandard2.0\ref\EJobsMarket.dll' could not be found
dotnet_diagnostic.CS0006.severity = none
